$color-yellow-dark: #d79922;
$color-beige: #efe2ba;
$color-red-orange: #f13c20;
$color-blue: #4056a1;
$color-blue-light: #c5cbe3;

.project-container {
  a {
    text-decoration: none;
  }
  .project-image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    scale: 1;
    transition: scale 0.25s;
  }

  .project-image:hover,
  .project-image:focus {
    scale: 1.025;
    cursor: pointer;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: black;
  }

  .view-link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $color-blue;
    font-weight: bolder;
  }
  .view-link:hover,
  .view-link:focus {
    text-decoration: underline;
  }
}

.trax-image {
  background-image: url('../../images/trax-mockup.png');
}
