$color-yellow-dark: #d79922;
$color-beige: #efe2ba;
$color-red-orange: #f13c20;
$color-blue: #4056a1;
$color-blue-light: #c5cbe3;

.hero-container {
  display: grid;
  place-content: center;
  h1 {
    font-size: 3.5rem;
  }
  .developer {
    font-size: 2.8rem;
    color: $color-yellow-dark;
  }

  .hero-intro {
    // width: 350px;
  }
  p {
    line-height: 1.6rem;
  }

  .read-more {
    text-align: right;
    a {
      text-decoration: none;
      width: auto;
      font-size: 0.9rem;
      color: $color-blue;
      text-align: right;
    }
    a:hover,
    a:focus {
      // font-weight: bolder;
      background-color: $color-blue-light;
      color: black;
    }
  }
}
